* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

.playground {
  margin: 5vh 30vw;
  position: relative;
}
@media screen and (max-width: 800px) {
  .playground {
    margin: 5vh 10vw;
  }
}
@media screen and (max-width: 600px) {
  .playground {
    margin: 5vh 10vw;
  }
}
